body { 
    padding-top: 65px; 
}


/* -------------------------------------------------------------------------- */
#ace_editor_mask {
    height: 500px;
    overflow-y: hidden;
}

#ace_editor_container {
    position: relative;
    height: 10000px;
}

#the_ace_editor { 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 15px;
}
